.slide {
  position: absolute;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  background-size: cover;
  background-position: center;
  transition: transform 1s cubic-bezier(0.25,0.1,0.25,1), opacity 0.5s;
}

.bg-scanlines {
  background-image: repeating-linear-gradient(
    rgba(255, 255, 255, 0.05) 0px,
    rgba(255, 255, 255, 0.05) 1px,
    transparent 2px,
    transparent 4px
  );
}
